{
	"belongTo": null,
	"category": "Others",
	"category.name": "Others",
	"configItems": [
		{
			"belongTo": null,
			"createdDate": "2023-09-26 08:13:36",
			"custom": true,
			"extInfo": null,
			"id": "003q0000016t500ucVNY",
			"lastModifiedDate": "2023-09-26 08:13:36",
			"name": "service",
			"protectMode": 0,
			"serviceID": "00060000015zzSFDfH2O",
			"serviceID.__objectType": "Service",
			"serviceID.name": "tenant1__Login",
			"type": "urlmap",
			"visibility": 0
		}
	],
	"configs": [],
	"coreVersion": "1.3.11",
	"createdDate": "2023-08-24 03:37:42",
	"custom": true,
	"customCategory": "",
	"description": "",
	"icon": "bo_icon_CDM",
	"iconColor": "#2680E4 ",
	"id": "00060000015zzSFDfH2O",
	"isIncremental": false,
	"label": "Login",
	"lastModifiedDate": "2023-10-20 04:01:08",
	"logo": "",
	"name": "tenant1__Login",
	"newPermission": null,
	"properties": null,
	"protectMode": 0,
	"publishVersion": "2.0.0",
	"services": [],
	"supportBO20": false,
	"translations": [],
	"type": "simple",
	"version": 1,
	"visibility": 0,
	"yaml": null,
	"yamlVersion": null
}